{% extends 'base.html' %}

<!-- Main Container
================================================== -->
{% block title %}Password Change{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
        {% if form.errors %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>:(</strong> Something wrong. Please try again.
        </div>
        {% endif %}
            <form method="post" action=".">
                {% csrf_token %}
                        <div class="control-group">
                        <label for="id_old_password">Old Password</label>
                                <div class="controls">
                                        {{ form.old_password }}
                                </div>
                        </div>
                    <div class="control-group">
                        <label for="id_new_password1">New Password</label>
                                <div class="controls">
                                        {{ form.new_password1 }}
                                </div>
                    </div>
                <div class="control-group">
                    <label for="id_new_password2">New Password (again)</label>
                    <div class="controls">
                        {{ form.new_password2 }}
                    </div>
                </div>
                    <div class="control-group">
                        <button type="submit" class="btn">Change Password</button>
                    </div>
                <input type="hidden" name="next" value="{{ next }}" />
                </form>

    <div class="grid5 contact_faq">
        <div class="padding">
            <h4 class="password">To create your password and protect it are your responsibilities. We keep your password as nobody (includes us) can see. We have some suggestions to create more safety password:</h4>
            <ul class="password">
                <li>Use at least 6 characters.</li>
                <li>Use capital letters too.</li>
                <li>Use at least one number.</li>
                <li>Do not use your personal information such as your bithday, name of your child or your last name.</li>
                <li>Do not prefer words that can be found in a dictionary.</li>
                <li>Do not use following patterns or keyboard layout.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}