{% extends 'base.html' %}

<!-- Main Container
================================================== -->
{% load gravatar %}
{% block title %}<div class="hero-unit"><h2>Profile Page {% show_gravatar user.email 48 %}</h2></div>{% endblock %}

{% block navbar %}
    <li class="nav-header">{{ user.username }}</li>
         <li><a href="{% url create_event %}"><i class="icon-map-marker"></i> Add Event</a></li>
         <li><a href="{% url my_events %}"><i class="icon-calendar"></i> Manage Events</a></li>
         <li><a href="{% url edit_profile %}"><i class="icon-edit"></i> Edit Profile</a></li>
         <li><a href="{% url password_change %}"><i class="icon-lock"></i>Change Password</a></li>
         <li><a href="{% url deactivate %}"><i class="icon-ban-circle"></i>Deactivate</a></li>
    <li class="nav-header"> History</li>
         <li><a href="events1.html">Past Event #1</a></li>
         <li><a href="events2.html">Past Event #2</a></li>
{% endblock %}

{% block content %}
<fieldset>
    <table class="table table-hover">
        <tr><th>Username</th><td>{{ user.username }}</td></tr>
        {% if user.first_name %}
        <tr><th>First Name</th><td>{{ user.first_name }}</td></tr>
        {% endif %}
        {% if user.last_name %}
        <tr><th>Last Name</th><td>{{ user.last_name }}</td></tr>
        {% endif %}
        {% if user.get_profile.gender %}
        <tr><th>Gender</th><td>{{ user.get_profile.gender }}</td></tr>
        {% endif %}
        {% if user.get_profile.birthday %}
        <tr><th>Birthday</th><td>{{ user.get_profile.birthday }}</td></tr>
        {% endif %}
        {% if user.get_profile.address %}
        <tr><th>Address</th><td>{{ user.get_profile.address }}</td></tr>
        {% endif %}
        {% if user.get_profile.bio %}
        <tr><th>Biography</th><td>{{ user.get_profile.bio }}</td></tr>
        {% endif %}
    </table>
</fieldset>

<h4>Your upcoming events</h4>
<div class="bs-docs-example">
<div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                {% for participate in participations %}
                <li><a href="#{{ forloop.counter }}" data-toggle="tab">{{ participate.event.title }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for participate in participations %}
                <div class="tab-pane" id="{{ forloop.counter }}">
                  <h4>{{ participate.event.title }}</h4>
                    <p><i class="icon-map-marker"></i> <a href="{% url place participate.event.location.id %}">{{ participate.event.location.name }}</a></p>
                    <h5><i class="icon-time"></i> {{ participate.event.start_time }}
                        <br />
                    <i class="icon-time"></i> {{ participate.event.end_time }}</h5>
                    <p> <a class="btn btn-inverse btn-small" href="{% url event participate.event.id %}"> View details &raquo;</a></p>
                </div>
                {% endfor %}
              </div>
</div> <!-- /tabbable -->
</div>
{% endblock %}
