{% extends 'base.html' %}
<!-- Main Container
================================================== -->
{% block title %}<div class="hero-unit" style="background: url({{ place.banner.url }}) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>{% endblock %}

{% block navbar %}
    <li class="nav-header">{{ place.name }}</li>
        <li><a href="{% url create_place %}"><i class="icon-home"></i> Add Place</a></li>
        <li><a href="{% url flag place.id %}"><i class="icon-flag"></i> Flag Place</a></li>
{% endblock %}

{% block content %}
    <div class="well">
      <div class="row">
        <center><h3>{{ place.name }}</h3></center>
        <div class="span1">
        </div>
        <div class="span5">
        {% if place.address %}
        <p> <i class="icon-map-marker"></i>
          {{ place.address }}
        </p>
        {% endif %}

        <h5>
          {% if place.email %}
          <i class="icon-envelope"></i>
          {{ place.email }}
          <br />
          {% endif %}
          {% if place.phone_number %}
          <i class="icon-signal"></i>
          {{ place.phone_number }}
          <br />
          {% endif %}
          {% if place.webpage %}
          <i class="icon-home"></i>
          {{ place.webpage }}
          {% endif %}
        </h5>
        <br />
        <h6>
          {% if place.description %}
          <i class="icon-info-sign"></i>
          {{ place.description }}
          {% endif %}
        </h6>
      </div>
      <div class="span1">
        </div>
      <div class="span4">
        {% if place.coordinates %}
        <iframe width="250" height="225" frameborder="3" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;ll={{ place.coordinates }}&amp;z=16&amp;iwloc=T&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;ll={{ place.coordinates }}&amp;z=16&amp;iwloc=T&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        {% endif %}
      </div>
      </div>
    </div>



<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Event</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url event event.id %}">{{ event.title }}</a></td>
      <td>{{ event.start_time }}</td>
      <td>{{ event.end_time }}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
