{% extends 'base.html' %}

<!-- Main Container
================================================== -->
{% block title %}<div class="hero-unit"><h2>Edit Event</h2></div>{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
   {% if form.errors %}
        <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <strong>:( </strong>There has been occured a problem. Please, try again later.
        </div>
        {{ form.non_field_errors }}
   {% endif %}

         <form enctype="multipart/form-data" class="form-horizontal well" method="post" action=".">
         <fieldset>
          {% csrf_token %}
          <div class="control-group">
            <label class="control-label" for="id_title">Title:</label>
            <div class="controls">
              {{ form.title }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_description">Description:</label>
            <div class="controls">
              {{ form.description }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_location">Location:</label>
            <div class="controls">
              {{ form.location }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_is_private">Is private:</label>
            <div class="controls">
              {{ form.is_private }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_tags">Tags:</label>
            <div class="controls">
              {{ form.tags }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_start_time">Start time:</label>
            <div class="controls">
              {{ form.start_time }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_end_time">End time:</label>
            <div class="controls">
              {{ form.end_time }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_banner">Banner:</label>
            <div class="controls">
              {{ form.banner }}
            </div>
          </div>
              <div class="control-group">
                <div class="controls">
                     <button type="submit" class="btn btn-inverse">Save</button>
                     <button type="cancel" class="btn btn-inverse">Cancel</button>
                </div>
               </div>
                   </div>  
               </div>
            
         </fieldset>
         </form>
<script>
$(document).ready(function() {
    $.extend($.fn.datepicker.defaults, {
      parse: function (string) {
          var matches;
          if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
              return new Date(matches[3], matches[1] - 1, matches[2]);
          } else {
              return null;
          }
        }, format: function (date) {
          var month = (date.getMonth() + 1).toString(),
              dom = date.getDate().toString();
          if (month.length === 1) {
              month = "0" + month;
          }
          if (dom.length === 1) {
              dom = "0" + dom;
          }
          
          return dom + "." + month + "." + date.getFullYear();
        }
    });
    $("#id_start_time").datepicker().on("changeDate", function(event) {
    });
    $("#id_end_time").datepicker().on("changeDate", function(event) {
    });
}
</script>
{% endblock %}
