{% extends 'base.html' %}


<!-- Main Container
================================================== -->
{% block title %}<div class="hero-unit"><h2>Events</h2></div>{% endblock %}

{% block navbar %}
    <li><a href="{% url past_events %}"><i class="icon-calendar"></i> Past Events</a></li>
    <li class="nav-header">{{ user.username }}</li>
         <li><a href="{% url create_event %}"><i class="icon-map-marker"></i> Add Event</a></li>
         <li><a href="{% url my_events %}"><i class="icon-calendar"></i> Manage Events</a></li>

    <li class="nav-header"> History</li>
         <li><a href="events1.html">Past Event #1</a></li>
         <li><a href="events2.html">Past Event #2</a></li>
{% endblock %}

{% block content %}

<div class="row-fluid">
<ul class="thumbnails">
<li class="span45">
{% for event in upcoming_events %}
                <div class="thumbnail">
                  {% if event.banner %}
                  <img data-src="holder.js/300x200" alt="" src="{{ event.banner.url }}">
                  {% else %}
                  <img data-src="holder.js/300x200" alt="">
                  {% endif %}
                  <div class="caption">
                    <h3>{{ event.title }}</h3>
                    <p><i class="icon-map-marker"></i> <a href="{% url place event.location.id %}">{{ event.location.name }}</a></p>
                    <h5><i class="icon-time"></i> {{ event.start_time }}
                        <br />
                    <i class="icon-time"></i> {{ event.end_time }}</h5>
                        <br />
                    <h6><i class="icon-info-sign"></i> {{ event.description }}</h6>
                      <br />
                    <div class="control-group">
                      <div class="controls">
                        <a class="btn btn-inverse btn-small" href="{% url event event.id %}"> View Details &raquo;</a>
                        <a class="btn btn-success btn-small" href="{% url join event.id %}"> Join &raquo;</a>
                      </div>
                  </div>
                </div>
                </div>
                <hr>
   {% if forloop.last %}
     </li>
   {% else %}
     {% if forloop.counter|divisibleby:"5" %}
       </li><li class="span45">
     {% endif %}
   {% endif %}
{% endfor %}

<div class="span9">
  <span class="current">
    <b>Page {{ upcoming_events.number }} of {{ upcoming_events.paginator.num_pages }}</b>
  </span>
<br>

  <ul class="pager">  
        {% if upcoming_events.has_previous %}
            <li class="previous"><a href="?page={{ upcoming_events.previous_page_number }}">&larr; Previous</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        {% endif %}

        {% if upcoming_events.has_next %}
            <li class="next"><a href="?page={{ upcoming_events.next_page_number }}">Next &rarr;</a></li>
        {% else %}
            <li class"next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
  </ul>
</div>

{% endblock %}
