{% extends 'base.html' %}


<!-- Main Container
================================================== -->
{% block title %}Events{% endblock %}

{% block navbar %}
    <li class="nav-header">{{ user.username }}</li>
         <li><a href="{% url create_event %}"><i class="icon-map-marker"></i> Add Event</a></li>
         <li><a href="{% url my_events %}"><i class="icon-calendar"></i> Manage Events</a></li>
    <li class="nav-header"> History</li>
         <li><a href="events1.html">Past Event #1</a></li>
         <li><a href="events2.html">Past Event #2</a></li>
{% endblock %}

{% block content %}

{% if upcoming_events %}
    <div class="span45">
        <h3>Upcoming events:</h3>
    {% for event in upcoming_events %}
    <div class="hero-unit">
        <h2>{{ event.title }}</h2>
        <p><i class="icon-map-marker"></i> <a href="{% url place event.location.id %}">{{ event.location.name }}</a></p>
        <h5><i class="icon-time"></i> {{ event.start_time }}
            <br />
        <i class="icon-time"></i> {{ event.end_time }}</h5>
            <br />
        <h6><i class="icon-info-sign"></i> {{ event.description }}</h6>
          <br />
        <div class="control-group">
          <div class="controls">
            <a class="btn btn-inverse btn-small" href="{% url event event.id %}"> View Details &raquo;</a>
            <a class="btn btn-success btn-small" href="{% url join event.id %}"> Join &raquo;</a>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endif %}

{% if past_events %}
    <div class="span45">
        <h3>Past events:</h3>
    {% for event in past_events %}
    <div class="hero-unit">
        <h2>{{ event.title }}</h2>
        <p><i class="icon-map-marker"></i> <a href="{% url place event.location.id %}">{{ event.location.name }}</a></p>
          <br />
        <h6><i class="icon-info-sign"></i> {{ event.description }}</h6>
          <br />
        <p> <a class="btn btn-inverse btn-small" href="{% url event event.id %}"> View details &raquo;</a></p>
    </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
