{% extends 'base.html' %}

<!-- Main Container
================================================== -->
{% block title %}Create a New Event{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
         <form class="form-horizontal well">
         <fieldset>
		 <div class="span9">
        	<div class="control-group">
            	 <label class="control-label" for="input01"> Name: </label>
            		 <div class="controls">
              			 <input type="text" class="input-xlarge" id="input01">
            		 </div>
          	 </div>
	
		 	 <div class="control-group">
            	 <label class="control-label" for="input02"> Details: </label>
            		 <div class="controls">
              		 	<input type="text" class="input-xlarge" id="input02">
           			 </div>
          	</div>

	  		 <div class="control-group">
            	 <label class="control-label" for="input03"> Where:</label>
            		 <div class="controls">
              			 <input type="text" class="input-xlarge" id="input03">
           			 </div>
          	 </div>
	 
			 <div class="control-group">
            	 <label class="control-label" for="input04"> Date:</label>
            		 <div class="controls">
              			 <input type="date" id="input04">
            		 </div>
          	 </div>


          	 <div class="control-group">
            	 <label class="control-label" for="input04"> Time:</label>
            		 <div class="controls">
              			 <input type="time" id="input05">
            		 </div>
          	 </div>

			<div class="control-group">
            		 <label class="control-label" for="input06"> Privacy: </label>
            			 <div class="controls">
					
					<input type="radio" name="group1" value="public" checked> Public<br>
					<input type="radio" name="group1" value="private"> Private<br>
          				<hr>
					 <button type="submit" class="btn btn-primary"> Create</button>
 					 <button type="submit" class="btn btn-primary"> Cancel</button>
          	 		 </div>  
          		 </div>
            
         </fieldset>
         </form>
{% endblock %}