{% extends 'base.html' %}

<!-- Main Container
================================================== -->
{% block title %}Create a New Event{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

         <form class="form-horizontal well">
           <fieldset>
			<hr>
        	 	
			<div class="control-group">
             		<label class="control-label" for="input01"> Name: &nbsp;     &nbsp; </label>
			<textarea onclick="this.style.backgroundColor = 'orange';"> xxxx</textarea>
          		</div>

	  		 <div class="control-group">
            	 	 <label class="control-label" for="input02"> Details:&nbsp;     &nbsp;</label>
            		 <textarea onclick="this.style.backgroundColor = 'orange';"> xxxx</textarea>
          		 </div>

	  		 <div class="control-group">
            		 <label class="control-label" for="input03"> Where:&nbsp;     &nbsp;</label>
		         <textarea onclick="this.style.backgroundColor = 'orange';"> xxxx</textarea>  			
          		 </div>

			<div class="control-group">
          		<label class="control-label" for="input04"> Date:&nbsp;     &nbsp;</label>
			<textarea onclick="this.style.backgroundColor = 'orange';"> xxxx</textarea>
            		</div>

			<div class="control-group">
            		<label class="control-label" for="input05"> Time:&nbsp;     &nbsp;</label>
                        <textarea onclick="this.style.backgroundColor = 'orange';"> xxxx</textarea>
            		</div>

			 <div class="control-group">
            		 <div class="controls">
 				<a class="btn btn-primary" href="event.html"> Save</a>
				<a class="btn btn-primary" href="user.html"> Cancel</a>
          	 	 </div>  
          		 </div>
	 </fieldset>	
         </form>
     	 </div><!--/span-->
 	 </div><!--/row-->
	 </div><!--/span-->
     <hr>
     <footer>
         <p>&copy; Company 2012</p>
     </footer>
 </div><!--/.fluid-container-->



 </body>
</html>
