{% extends base.html %}


!-- Main Container
================================================== -->
{% block title %}{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
		<div class="hero-unit">
				<h2>Event #1</h2>
  			<p>Description</p>
  			<p> <a class="btn" href="event1.html"> View details &raquo;</a></p>
    </div>

    <div class="hero-unit">
        <h2>Event #2</h2>
        <p>Description</p>
        <p> <a class="btn" href="event2.html"> View details &raquo;</a></p>
    </div>

    <div class="hero-unit">
        <h2>Event #3</h2>
        <p>Description</p>
        <p> <a class="btn" href="event3.html"> View details &raquo;</a></p>
    </div>

    <div class="hero-unit">
        <h2>Event #4</h2>
        <p>Description</p>
        <p> <a class="btn" href="event4.html"> View details &raquo;</a></p>
    </div>

    <div class="hero-unit">
        <h2>Event #5</h2>
        <p>Description</p>
        <p> <a class="btn" href="event5.html"> View details &raquo;</a></p>
    </div>
{% endblock %}