<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleverestfreakin.mobile.takeep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cleverestfreakin.mobile.takeep.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.cleverestfreakin.mobile.takeep.EventListActivity"
            android:label="@string/title_event_list"
            android:parentActivityName="com.cleverestfreakin.mobile.takeep" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cleverestfreakin.mobile.takeep" />
        </activity>
        <activity
            android:name="com.cleverestfreakin.mobile.takeep.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName=".EventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventListActivity" />
        </activity>
        <activity
            android:name="com.cleverestfreakin.mobile.takeep.NearbyEventsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_nearby_events"
            android:parentActivityName="com.cleverestfreakin.mobile.takeep"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cleverestfreakin.mobile.takeep" />
        </activity>
    </application>

</manifest>