{% extends 'base.html' %}


<!-- Main Container
================================================== -->
{% block title %}Events{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="span45">
	<div class="hero-unit">
		<h2>Event #1</h2>
  		<p>Description</p>
  		<p> <a class="btn btn-inverse btn-small" href="event1.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #2</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event2.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #3</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event3.html"> View details &raquo;</a></p>
    </div>
    </div>

    <div class="span45">
    <div class="hero-unit">
        <h2>Event #4</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event4.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #5</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event5.html"> View details &raquo;</a></p>
    </div>
    </div>
{% endblock %}