{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Login{% endblock %}

{% block navbar %}
    <li class="nav-header"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a></li>
         <li><a href="{% url edit_profile %}"> Edit Profile</a></li>
         <li><a href="{% url create_event %}"> Add Event</a></li>
         <li><a href="{% url my_events %}"> Manage your Events</a></li>
    <li class="nav-header"> History</li>
         <li><a href="events1.html">Past Event #1</a></li>
         <li><a href="events2.html">Past Event #2</a></li>
{% endblock %}

{% block content %}
    <div class="span45">
    <div class="hero-unit">
        <h2>Event #1</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event1.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #2</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event2.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #3</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event3.html"> View details &raquo;</a></p>
    </div>
    </div>

    <div class="span45">
    <div class="hero-unit">
        <h2>Event #4</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event4.html"> View details &raquo;</a></p>
    </div>
    <div class="hero-unit">
        <h2>Event #5</h2>
        <p>Description</p>
        <p> <a class="btn btn-inverse btn-small" href="event5.html"> View details &raquo;</a></p>
    </div>
    </div>
{% endblock %}