{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Login{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<script>
    window.location=getURL('/');
</script>
{% else %}
    {% if form.errors %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>:(</strong> Your username or your password is wrong. Please, check them and try again.
        </div>
    {% else %}
        {% load flashmessage %}
        {% flashmessage %}
    {% endif %}
        <form method="post" action="{% url user_login %}">
                {% csrf_token %}
        {{ form.as_p }}
        <div class="control-group">
                <a href={% url password_reset %}>Forgot your password?</a>
                <button type="submit" class="btn">Login</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
        </div>
{% endif %}
{% endblock %}