{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Change Your Password{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
        {% if form.errors %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>:(</strong> Your password could not been reset. Please, try again later.
        </div>
        {% endif %}
                <form method="post" action="{% url password_reset %}">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                    <div class="control-group">
                        <button type="submit" class="btn">Reset Password</button>
                    </div>
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
{% endblock %}