{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Change Your Password{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<style type="text/css">
h2 {margin:0; padding:0 0 15px 0; font:18px/40px Arial, serif;}
h2:before {content:'';float:left;width:40px;height:40px;background:url('{{ STATIC_URL }}img/icon_payment.png') no-repeat;margin-right:15px;}
</style>
<div class="grid9 main cover eventDetails">
    <div class="grid5 first">
        <div class="padding">
            <h2>According to your request, there sent an e-mail to reset your password safely. You can check your inbox...</h2>
            <script>
            setTimeout("window.location=getURL('{% url login %}')", 3000);
            </script>
        </div>
    </div>
</div>
{% endblock %}