{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Change Your Password{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% if validlink %}
<p>Please enter your new password to change.</p>
            <form action="" method="post">
              {% csrf_token %}
              <table>
                {{ form.as_p }}
              </table>
              <input type="submit" class="btn" value="Reset password" />
            </form>
{% else %}
<div class="alert alert-error">
    <p>This link s not valid. Probably, you used that link before. </p>
</div>

{% endif %}
{% endblock %}