{% extends 'base.html' %}    

<!-- Main Container
================================================== -->
{% block title %}Sign up <h4> or <a href="{% url login %}"> Login </a> </h4>{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
        {% if form.errors %}
        <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <strong>:( </strong>There has been occured a problem. Please, try again later.
        </div>
        {{ form.non_field_errors }}
        {% endif %}
                <form class="form-horizontal well" method="post" action="{% url registration_register %}" id="registrationForm">
                {% csrf_token %}
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="id_username">Username:</label>
                            <div class="controls">
                                <input id="id_username" type="text" class="required" name="username" maxlength="30" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_email">E-mail:</label>
                            <div class="controls">
                                <input id="id_email" type="text" class="required" name="email" maxlength="75" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_password1">Password:</label>
                            <div class="controls">
                                <input id="id_password1" type="password" class="required" name="password1" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_password2">Password (again):</label>
                            <div class="controls">
                                <input id="id_password2" type="password" class="required" name="password2" />
                            </div>
                        </div>

                 <div class="control-group">
                     <label class="control-label" for="optionsCheckbox"></label>
                         <div class="controls">
                             <label class="checkbox">
                                 <input type="checkbox" id="optionsCheckbox" value="option1">
                                 I accept the terms of use.
                             </label>
                       <br />
                             <button type="submit" class="btn btn-inverse">Join</button>
                             <button type="submit" class="btn btn-inverse">Cancel</button>
                        </div>
                 </div>
             </fieldset>
                </form>
<script>
$(document).ready(function() {
        $("span.error").each(function() {
                var $this = $(this);
                if ("" != $this.text()) {
                    $this.next().find("input[type=text]").addClass("error");
                    $this.appendTo($this.prev());
                }
        });
        $("input.error").trigger("focus");
});
</script>
{% endblock %}